target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
../take-home-webdriver-test/src/main/resources/com/example/testautomation_dotdash/appdriver/.idea/modules.xml
../take-home-webdriver-test/src/main/resources/com/example/testautomation_dotdash/appdriver/.idea/jarRepositories.xml
../take-home-webdriver-test/src/main/resources/com/example/testautomation_dotdash/appdriver/.idea/compiler.xml
../take-home-webdriver-test/src/main/resources/com/example/testautomation_dotdash/appdriver/.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store